html {
    height: 100%;
}

body {
    font-family: 'Century Gothic';
    color: #21649c;
    background-color: white;
    height: 100%;
    margin: 0px;
}

button {
    font-family: 'Century Gothic';
}

h1, h2, h3, ul, ol, p {
    margin: 0px;
}

ul, ol {
    padding-left: 0px;
}

.main-div {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

#mainSideBar {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    row-gap: 10px;
    background-color: #21649c;
    color: white;
    min-height: 100%;
    width: auto;
}

.week-blog-entry-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    border-radius: 6px;
    background-color: #2e83c9;
    color: white;
    border-color: #21649c;
    border-width: 2px;
    margin-bottom: 10px;
}

.week-blog-entry-section-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    flex-grow: 1;
    padding: 10px;
}

#toggleSideBarButton {
    font-family: 'Century Gothic';
    display: flex;
    background-color: #2e83c9;
    color: white;
    position: absolute;
    left: 200px;
    top: 0px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 6px 0px;
    flex-shrink: 0;
}

#mainSideBar > button {
    padding: 10px;
    border-radius: 6px;
    background-color: #2e83c9;
    border-width: 0px;
    min-width: 100px;
    color: white;
}

.main-blog-header {
    margin-bottom: 20px;
    align-self: center;
}

.list-element-child-container {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

.ul-padding-left-16-px {
    padding-left: 16px;
}

.li-1 {
    margin-bottom: 4px;
}
